.mui-table-view .mui-media-object  {
    line-height: 28px;
    max-width: 28px;
    height: 28px;
}
.list-title{
	line-height: 28px;
    height: 28px;
    display: inline-block;
}

.mui-table-view{
	margin-bottom: 20px;
}

.mui-media-object.mui-pull-left.avatar{
	line-height: 60px;
    max-width: 60px;
    height: 60px;
}
.mui-media-body{
	padding-top: 3px;
}
.name{
	position: absolute;
}
.sex{
	line-height: 20px;
    max-width: 20px;
    height: 20px;
    position: relative;
    left: 40px;
}
.sex img{
	height: 100%;
	width: 100%;
}
